<!DOCTYPE html>
<html lang=ar>

<head>
    <meta charset=UTF-8>
    <title>مدونتي المحبوبة - خطأ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet href="/../css/blog.css">

</head>
<body>
    <div class="err">
        <h1 style="color:#fff;font-size:4em;">
        <span style="font-weight:bolder;font-size:2em">٤٠٤</span>
    <br>
        عذرا!! لا توجد الصفحة التي طلبتها حاليا</h1>
        <div class="kufi" style="margin-top:30px;">
            لقد تأكد نظام معالجة الأخطاء بالمدونة من أن الصفحة التي طلبتها غير متوفرة للأسف، حاول المراجعة لاحقا.
        </div>
        <br>
        <div class="kufi">
            نص الخطأ في حال أردت المعرفة :
            <br>
            <span style="font-family:monospace;color:#00796b !important;">{{message}}</span>
        </div>
    </div>
</body>
</html>
