<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../css/blog.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>تمّ بنجاح!!</title>
</head>
<body>
    <div class="kufi" style="font-size:3em">
        <h1 style="font-size: 2em;text-align: center">تهانينا! تم التعامل مع طلباتك بنجاح</h1>
        <div class="description" style="line-height:1.3em;">
            {{task}}
        </div>
    </div>
</body>
</html>