<!DOCTYPE html>
<html lang=ar>

<head>
    <meta charset=UTF-8>
    <title>مدونتي المحبوبة - تسجيل الدخول</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet href="css/blog.css">

</head>
<header>

    <img src="../img/logo.svg" alt="" class='logo' style="hight:10px;">
    <h1 id="title">هذه مدونتي</h1>
    <div class="left">
        <a href="../login">
            <button class="header-btn">
            <img class="icon" src="../img/log in.svg" alt="">
        <span class="header-txt hide-small">دخول</span>
        </button>
        </a>
    </div>
</header>
<body>
    <div class="margin-top-100"></div>
    <div class="page-title">
        <h1>تسجيل الدخول</h1>
    </div>
    <div class="description">
        أنت هنا في صفحة تسجيل الدخول لمدونتي العملاقة. من فضلك أحسن الإستخدام<br><small>ولا تستنزف موارد كبيرة من الطاقة! لأن الموقع على استضافة مجانية(محدودة جدّاا)</small>
    </div>
    <form action="/../login" method="post">
        <input name="name" type="text" class="kufi" placeholder="اسمك كمستخدم">
        <input name="pass" type="password" class="kufi" placeholder="كلمة المرور">
        <button class="btn" style="height:4em;max-height:5em">
            <img src="../img/save.svg" style="transform: scaleX(-1);height:4em;float:left" alt="">
            <h1 class="hid-small" style="color:#fff;float:right;font-size:3em;font-weight:bold;">أدخل</h1>
        </button>
    </form>
</body>
</html>